*{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;

}

html, body {
  margin: 0;
  background-color: #9da5d1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
